*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}


/* navbar styling */
.navbar {
    width: 100%;
    padding: 15px 0;
    background: rgb(61, 60, 60);
    font-family: 'Ubuntu', sans-serif;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 35px;
    font-weight: 600;
    color: white;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}

 /* home showcase styling */
.showcase{
    display: flex;
    background: url("images/photo_2020-11-21_17-57-42.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.showcase .max-width{
    margin: auto 0 auto 30px;
}
.showcase .home-content .text-1{
    font-size: 27px;
}
.showcase .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.showcase .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.showcase .home-content .text-3 span{
    color: rgb(61, 60, 60);
    font-weight: 500;
}
.showcase .home-content a{
    display: inline-block;
    background: rgb(61, 60, 60);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(61, 60, 60);
    transition: all 0.3s ease;
}
.showcase .home-content a:hover{
    color: rgb(61, 60, 60);
    background: none;
}

/* about section styling */
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .about-content .left{
    width: 45%;
}

.about .about-content .left img{
    margin-top: 60px;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.about .about-content .right{
    width: 55%;
}

.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
}

.about .about-content .right a{
    display: inline-block;
    background: rgb(61, 60, 60);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(61, 60, 60);
}

.about .about-content .right a:hover{
    color: rgb(61, 60, 60);
    background: none;
    margin-top: 50px;
}

/* services section styling */
    
#boxes{
    margin-top:20px;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:260px;
  }
/* .services, .teams{
    color:#fff;
    background: white;
}
.services .title::before,
.teams .title::before{
    background: #fff;
}
.services .title::after,
.teams .title::after{
    background: white;
    content: "what i provide";
}
.services .serv-content .card{
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.services .serv-content .card:hover{
    background: crimson;
}
.services .serv-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.services .serv-content .card i{
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}
.services .serv-content .card:hover i{
    color: #fff;
}
.services .serv-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
} */

/* footer section styling */
footer{
    bottom: 0;
    left: 0;
    position: fixed ;
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    width:100%;
}

footer span a{
    color: crimson;
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
}